@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;


.user {
   
    margin: 1rem;

    &-card {
        display: flex;
        margin: 0;
        padding: 0;
        height: 250px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 110px;
        background-color: rgb(228, 241, 242);

        @include tablet {
            flex-direction: row;
        
        }

        &__img-container {
            width: 50%;

            @include tablet {
                width: 50%;
            }

            @include desktop {
                width: 20%;
            }

            &--image {
                width: 100%;
                max-height: 50%;
                margin-top: 1rem;
                margin-left: 1rem;
                margin-bottom: 1rem;
                border-radius: 8px;
            }
        }

        &__info {
            width: 20%;
            margin-left: 1rem;
            flex-direction: column;
            justify-content: space-evenly;

            &--title {
                text-decoration: none;
                color: rgb(30, 71, 59);
                font-size: 50px;
                font-weight: bold;
            }

            &--bio {
                color: $black;
            }
        }
    }
}


.star-logo {
    width: 100px;
    height: 100px;
}