.card {
  background-color: white;
  display: flex;
  width: 1500px;
  height: fit-content;
  margin: 2rem auto;
  box-sizing: border-box;
  box-shadow: 4px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
