$black: #13182C;
$dark-green: #357960;
$light-green: #90BEA0;
$white: #FFFFFF;



$cloud: #BDC5D5;
$graphite: #232940;
$light-grey: #F7F8F9;


$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;