@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.login-page {
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-top: 0;
    margin-top: 0;
    

    &__title {
        margin: 0;
        margin-bottom: 0.5rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        padding: 1rem;
        padding-top: 0;
        width: 100%;
        @include tablet{
            flex-direction: row;
            align-items: center;
        }
        
    }
}


.login {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;

    &__title {
        margin-top: 0;
        margin-bottom: 1.5rem;

        text-align: center;
        font-size: 1.5rem;
        border-bottom: 5px solid $light-green;
        padding-bottom: 0.5rem;
        align-self: center;
    }

    &__button {
        margin-top: 1rem;
        background-color: black;
        border: 1px solid black;
        color: #fff;
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-size: inherit;
        cursor: pointer;
        transition: background-color 0.15s;

        &:hover {
            background-color: $light-green;
            color: black;
        }
    }

    &__message {
        border-left: 5px solid #ddd;
        padding: 0.75rem;
        margin-top: 2rem;
    }



}

.badge-login {
    text-align: center;
}

.badge-text-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    ;
}

.intro-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
