.wrapper {
  margin-top: auto;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texts {
  margin-top: 5rem;
  margin-left: 8rem;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  min-height: 3em;
  resize: both;
}

.title {
  color: #013321;
  flex-direction: column;
  font-size: 90px;
  font-weight: bold;
  animation-name: title;
}

.subtitle {
  color: #226a49;
  flex-direction: column;
  font-size: 60px;
  animation-name: title;
}

.link:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: rgb(10, 96, 57);
}

.link {
  margin-top: 1rem;
  font-size: 40px;
  text-decoration: none;
  color: #037e67;
  text-align: center;
  font-weight: bold;
}

.slider {
  position: relative;
  height: 60vh;
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
}

.image {
  width: 700px;
  height: 500px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 5px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: rgb(183, 241, 216);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: rgb(183, 241, 216);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease-out;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
