@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_variables.scss" as *;

.communal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    color: white;
  }

  &-category {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;

    &__subcategory {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &__form {
      width: 100%;
      padding: 1rem;
      flex-direction: column;
      justify-content: center;
      text-align: left;

      &--boxes {
        width: 100%;
      }
    }
  }
}
