@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background-color: $light-green;
    margin-top: 2rem;
    margin-bottom: 2rem;
}